.url {
  background: inherit;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.url:hover {
  background: inherit;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: rgb(41, 41, 226);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
// li {
//   padding: 0.5rem 0;
// }
#elm {
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  padding: 0.25rem 1rem;
  background: #00f;
}
